{% extends "base.html" %}
{% block content %}
<h1>Enter your details</h1>
<form action="" method="post">
    <!-- read up on csrf and how to prevent it-->
    {{ form.csrf_token }}
    <p>
        {{form.firstname.label}} : {{form.firstname(size=50)}}
        {% for error in form.firstname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.lastname.label}} : {{form.lastname(size=50)}}
        {% for error in form.lastname.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.gender.label}} : {{form.gender}}
        {% for error in form.gender.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.residential_address.label}} : {{form.residential_address(size=256)}}
        {% for error in form.residential_address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.phone_number.label}} : {{form.phone_number(size=11)}}
        {% for error in form.phone_number.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.course.label}} : {{form.course()}}
        {% for error in form.course.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}